---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="container">
  <main>
	<h2 class="text-amber-100">xd</h2>
  </main>
</div>
<style>
	h2 {
		font-size: 2rem;
		text-align: center;
		color: var(--astro-color);
	}
</style>
